.nav-item{
    font-family: 'Mukta', sans-serif;
}

.project-title{
    padding-top:30px;
    text-align: center;
}
.mate-title .project-title{

    margin-top:20px;
}

.project-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 20px !important;
}


#landing-page{
    
    background-color: #01001D;
    color: whitesmoke;
    padding-bottom: 30px;

}

.landing-animation{
    width: 380px;
    height: 380px;
}

.project-title-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left !important;
}
.landing-text{
    font-family: 'Roboto Mono', monospace;
}

.learn-more-btn{
    background-color: #A3C7D6 !important;
    padding: 10px;
    border-radius: 18px;
}

#project-implementation{
    text-align: center;
    background-color: #3F3B6C;
    color: whitesmoke;
}

/*----------------------Implementation Section----------------------*/ 

#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
  }
  
  #photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
  }
  
  #canvas {
    display: none;
  }
  
  .camera {
    width: 340px;
    display: inline-block;
  }
  
  .output {
    width: 340px;
    display: inline-block;
    vertical-align: top;
  }
  
  #startbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1);
  }
  
  .contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
  }

  ol li {
    list-style: none;
  }





/*----------------------About Section----------------------*/ 

#about-section{
    background-color: #624F82;
    color: whitesmoke;
    
}

.about-title{
    text-align: center;
    padding: 20px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.team-member-heading{
    text-align: center;
    padding-bottom: 20px;
}

/*----------------------Footer Section----------------------*/ 

#page-footer{
    background-color: #A3C7D6;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0 20px 0;
}


/* ------------------------------------------------------------------------------ Media Queries -------------------------------------------------------------------------------- */


/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {

    .team-image{
        margin-left:80px;
    }

    .about-text{
        margin-top: 20px;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
    }
    
 }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 

}


/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 

    .team-image{
        margin-left:150px;
    }


    .about-text{
        margin-top: 20px;
        text-align: justify;
    }


}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  { 
    .team-image{
        margin-left:165px;
    }

    .about-text{
        margin-top: 20px;
        text-align: justify;
    }


}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) {

    .team-image{
        margin-left:165px;
    }

    .about-text{
        margin-top: 20px;
        text-align: justify;
    }




 }